@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f0ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80'%3E%3Cg fill='%239c92ac' fill-opacity='0.25'%3E%3Crect width='40' height='40'/%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  color: #3b2fa0;
  margin-bottom: 10px;
}

.student {
  color: #000;
  margin-bottom: 5px;
}

.order {
  margin-bottom: 20px;
}

.container {
  width: 40rem;
  border: 1px solid gray;
  padding: 1rem;
  background: white;
  text-align: center;
  border-radius: 5px;
}

.count {
  font-size: 4rem;
  padding: 0 1rem;
  display: block;
}

input[type="text"] {
  display: block;
  font-size: 16px;
  border: 1px solid #dedede;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  outline: none;
}

